footer {
  margin-top: 100px;
  background: #f0f0f0;
}

.footer_links {
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer_links li {
  display: inline-block;
  padding-right: 30px;
  font-weight: bold;
}

.footer_follow_sm p{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  font-weight: bold;
}

.footer_follow_xs p{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.footer_icons a i {
  margin-left: 14px;
}
